{
  "comments": false,
  "plugins": ["@babel/plugin-syntax-dynamic-import", "babel-plugin-styled-components"],
  "presets": ["@babel/preset-env", "@babel/preset-stage-2", "@babel/preset-react"]
}
